$color-black-01: #3a3a3a;
$color-black-02: #000000;
$color-black-03: #444444;
$color-black-04: #313131;

$color-gray-blue-01: #77909b;

$color-blue-01: #0e78be;

$color-green-01: #407D55;
$color-green-02: #28643C;

$color-gray-01: #f2f2f2;

$color-white-01: #ffffff;