@import 'normalize';
@import 'utils';
@import 'baseline';
@import 'colors';
@import 'components/header';
@import 'components/banner';
@import 'components/infoblocks';
@import 'components/showcase';
@import 'components/call-to-action';
@import 'components/reviews';
@import 'components/footer';


.registerButton {
    padding: 1em 2em;
    border: none;
    border-radius: 1em;
    border-bottom: .2em solid rgba(0, 0, 0, .35);
    
    color: $color-white-01;
    background-color: $color-green-01;
    
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: .1em;
        
    &:hover {
        cursor: pointer;
        background-color: $color-green-02;
    }
}