.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    box-sizing: border-box;
    padding-top: 2em;
    padding-bottom: 6em;
    
    background-color: $color-black-02;
    background-image: url(../img/keepnote_background.jpg);
    background-position: center center;
    background-size: cover;
    
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 5em), 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 5em), 0% 100%);
    
    @include mediaMinWidth(50em) {
        min-height: 26em;
    }
    
    &_text {
        max-width: 20em;
        padding: 0 1em;
        margin-bottom: 2em;
        
        text-align: center;
        font-size: 1.25em;
        color: $color-white-01;
        
        @include mediaMinWidth(50em) {
            font-size: 2em;
            margin-bottom: 1.5em;
        }
    }
}

